<div class="container">
    <h1>Заметки</h1>
    @if ((notes$ | async)!.length > 0) {
        <div class="notes">
            @for (note of notes$ | async; track note) {
                <app-note (remove)="removeNote(note.id)" [note]="note"/>
            }
        </div>
    }
    @if (isCreating) {
        <app-create-note (close)="onCloseCreateClick()" (addNote)="createNote($event)"/>
    }
    @else if ((notes$ | async)!.length === 0) {
        <p>Заметки отсутствуют</p>
    }
    <app-button [disabled]="isCreating" (click)="onCreateClick()">
        Добавить заметку
    </app-button>
</div>
